
.header {
	background-image: radial-gradient(#FF5F6D, #FFC371 );
	grid-area: head;
	border: solid;
	padding: 20px;
	position: static;


}

.navigation {
	background-image: linear-gradient(to  right,  #FF5F6D, #FFC371 );
	grid-area: navi;
	border-top: none;
	border-left: solid;
	border-right: solid;
	border-bottom: solid;
	padding: 40px;
	position: static;

}

.content {
	background-color:#ffc371;
	grid-area: cont;
	border-right: solid;
	border-bottom: solid;
	position: static;
}


html {
	height: 100%;
	background-color:orange;
}

	


li {
	list-style: none;
	font: quicksand;
	color: black;
	background-image: linear-gradient(to  left,  #FF5F6D, #FFC371 );


}
a {
	font: quicksand;
	color: black;
	font-size: 30px;
}

iframe{
	width: 216px;
	height: 235px;
}
p {
	text-align: center;
	font-size: 22px;
}

form {
	background-color: #ff5f6d;
	font-size: 30px;
	text-align: center;
	font-weight: 900;
	text-transform: uppercase;
	border-radius: 50px;
	text-shadow:
        0px -5px 10px rgba(225,125,255,1),
        0px 0px 5px rgba(255,255,255,0),
        0px 0px 10px rgba(255,255,255,0),
        0px 0px 15px rgba(255,255,255,0),
        0px 0px 20px rgba(255,255,255,0);
		border: dotted;
		height: 400px;
		width: 1000px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 100px;

		
}
  .textarea {
	  height: 150px;
	  width:700px;
	 
	  
	  
  }
	.send {
	  margin-top:10px;
	  width: 150px;

}


.grid {
	height: 100%;
	display: grid;
	margin: 0px;
	position: aboslute;
	grid-template-areas:
		'head head head head head head head head head head '
		'navi  cont  cont  cont  cont  cont  cont cont  cont cont '
		'navi  cont  cont  cont  cont  cont  cont cont  cont cont '
		'navi  cont  cont  cont  cont  cont  cont cont  cont cont '
		'navi  cont  cont  cont  cont  cont  cont cont  cont cont '
		'navi  cont  cont  cont  cont  cont  cont cont  cont cont '
		'navi  cont  cont  cont  cont  cont  cont cont  cont cont '
		'navi  cont  cont  cont  cont  cont  cont cont  cont cont '
		'navi  cont  cont  cont  cont  cont  cont cont  cont cont ';

	}