
.header {
	background-image: radial-gradient(#FF5F6D, #FFC371 );
	grid-area: head;
	border: solid;
}

.navigation {
	background-image: linear-gradient(to  right,  #FF5F6D, #FFC371 );
	grid-area: navi;
	border-top: none;
	border-left: solid;
	border-right: solid;
	border-bottom: none;
	padding: 40px;
}

.content {
	background-color:#ffc371;
	grid-area: cont;
	border-right: solid;
}

.footer {

	background-image: radial-gradient(#FF5F6D, #FFC371 );
	grid-area: foot;
	border:solid;
}
	
html {
	height:100%;
	background-color: orange;
}

li {
	list-style: none;
	font: quicksand;
	color: black;
	background-image: linear-gradient(to  left,  #FF5F6D, #FFC371 );


}
a {
	font: quicksand;
	color: black;
	font-size: 30px;
}

iframe{
	width: 216px;
	height: 235px;
}
p {
	text-align: center;
}




.grid {
	height: 100%;
	display: grid;
	margin: 0px;
	position: aboslute;
	grid-template-areas:
		'head head head head head head head head head head '
		'navi  cont  cont  cont  cont  cont  cont cont  cont cont '
		'navi  cont  cont  cont  cont  cont  cont cont  cont cont '
		'navi  cont  cont  cont  cont  cont  cont cont  cont cont '
		'navi  cont  cont  cont  cont  cont  cont cont  cont cont '
		'navi  cont  cont  cont  cont  cont  cont cont  cont cont '
		'navi  cont  cont  cont  cont  cont  cont cont  cont cont '
		'navi  cont  cont  cont  cont  cont  cont cont  cont cont '
		'navi  cont  cont  cont  cont  cont  cont cont  cont cont '
		'foot foot foot foot foot foot foot foot foot foot ';
	}